<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>

  {% if data.is_authenticated %}

  <div class="container">
    <div class="row">
    <div class="col-3">
    <h1><a href="{% url 'home' %}">Криптовалюты</a></h1>
    </div>
      <div class="col-6">

      </div>
      <div class="col-3">
        <a href="{% url 'rest_framework:logout' %}">Выйти</a>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-md-3">
        <h3>Избранные</h3>
        <table>
          <tr>
            <th class="text-center">Наименование</th>
            <th class="text-center">Символ</th>
            <th class="text-center">Цена</th>
          </tr>
          {% for coin in data.favor_coin %}
          <tr>
              <td><a href="#">{{ coin.coin.name }}</a></td>
              <td>{{ coin.coin.symbol }}</td>
              <td>{{ coin.coin.price|floatformat:2 }}</
          </tr>
          {% endfor %}

        </table>
        <h3>Деловые новости</h3>
        <table>
          <tr>
            <th>Заголовок</th>
            <th>Ссылка</th>
          </tr>
          {% for news in data.news_list %}
          <tr>
            <td><p>{{ news.title }}</p></td>
            <td><a href="{{ news.url }}" target="_blank">перейти к статье</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-md-9">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% else %}

<div class="container">
  <h1>Войти</h1>
  <form action="{% url 'rest_framework:login' %}" method="post">
      {% csrf_token %}
      <div class="mb-3">
      <label for="userName" class="form-label">Имя</label>
      <input type="text" class="form-control" id="userName" name="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="examplePassword" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="examplePassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <h1>Или зарегистрироваться</h1>
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Имя</label>
      <input type="text" class="form-control" id="exampleName" name="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email адрес</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endif %}
</body>



</html>