{% extends 'coins/base.html' %}

{% block content %}
<form method="GET"
      class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
      action="#">


  <div class="col-4">
    <div class="form-outline">
      <input type="text"
             id="form1"
             name="search"
             class="form_control"
             placeholder="Введите Наименование или символ">
    </div>
  </div>
  <div class="col-3">
    <button type="submit" class="btn btn-primary">Поиск</button>
  </div>

</form>
<table>
          <tr>
            <th class="text-center">id</th>
            <th class="text-center">Наименование</th>
            <th class="text-center">Символ</th>
            <th class="text-center">Цена</th>
            <th class="text-center">Объём торгов</th>
            <th class="text-center">Изменение цены</th>
            <th class="text-center">Изменение в процентах</th>
          </tr>
    {% for coin in data.coin_list %}
          <tr>
              <td>{{ coin.id }}</td>
              <td><a href="#">{{ coin.name }}</a></td>
              <td>{{ coin.symbol }}</td>
              <td>{{ coin.price|floatformat:2 }}</td>
              <td>{{ coin.volume_24h|floatformat:2 }}</td>
              <td>{{ coin.volume_change_24h|floatformat:2 }}</td>
              <td>{{ coin.percent_change_24h|floatformat:2 }}</td>
              <td>
                  {% if coin.id in data.favor_coin_id %}
                  <form action="{% url 'add_favor' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{coin.id}}" name="coin">
                      <button class="btn ms-1" type="submit">Убрать из избранного</button>
                  </form>
                  {% else %}
                  <form action="{% url 'add_favor' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{coin.id}}" name="coin">
                      <button class="btn ms-1" type="submit">В избранное</button>
                  </form>
                  {% endif %}
              </td>
          </tr>
    {% endfor %}
        </table>
{% endblock %}